
.icon {
    border-radius: 25%;
    width: 40%;
    margin-left: 30%;
    margin-top: 20%;
}

body {
    font-family: sans-serif;
}

h1 {
    font-weight: 500;
    text-align: center;
    margin-top: 2%;
    color: #666;
}

p {
    text-align: center;
    color: #666;
    border: 1px solid #666;
    border-radius: 8px;
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    padding: 3px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 500px;
}